<div class="container mt-4" data-turbo="false">
  <h2 class="text-center">漢字読み問題</h2>

  <%= form_with url: answer_problems_path, method: :post, local: true, data: { turbo: false } do %>
    <% @problems.each do |problem| %>
      <div class="card mb-3">
        <div class="card-body text-center">
          <h4><%= problem.kanji %></h4>
          <p>意味: <%= problem.meaning %></p>

          <%= hidden_field_tag "answers[#{problem.id}][problem_id]", problem.id %>
          <%= text_field_tag "answers[#{problem.id}][user_answer]", "", 
                              placeholder: "ひらがなで入力してください", 
                              class: "form-control text-center" %>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <%= submit_tag "まとめて回答する", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
